In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

dataset = pd.read_csv("melbourne-housing-snapshot/melb_data.csv")

print("dataset.columns: {}".format(dataset.columns))
print("\ndataset.describe(): \n{}".format(dataset.describe()))

dataset.columns: Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

dataset.describe():
              Rooms         Price      Distance      Postcode      Bedroom2  \
count  13580.000000  1.358000e+04  13580.000000  13580.000000  13580.000000
mean       2.937997  1.075684e+06     10.137776   3105.301915      2.914728
std        0.955748  6.393107e+05      5.868725     90.676964      0.965921
min        1.000000  8.500000e+04      0.000000   3000.000000      0.000000
25%        2.000000  6.500000e+05      6.100000   3044.000000      2.000000
50%        3.000000  9.030000e+05      9.200000   3084.000000      3.000000
75%        3.000000  1.330000e+06     13.000000   3148.000000      3.000000
max       10.000000  9.000000e+06     48.100000   3977.000000     20.000000

           Bathroom           Car       Landsize  BuildingArea    YearBuilt  \
count  13580.000000  13518.000000   13580.000000   7130.000000  8205.000000
mean       1.534242      1.610075     558.416127    151.967650  1964.684217
std        0.691712      0.962634    3990.669241    541.014538    37.273762
min        0.000000      0.000000       0.000000      0.000000  1196.000000
25%        1.000000      1.000000     177.000000     93.000000  1940.000000
50%        1.000000      2.000000     440.000000    126.000000  1970.000000
75%        2.000000      2.000000     651.000000    174.000000  1999.000000
max        8.000000     10.000000  433014.000000  44515.000000  2018.000000

          Lattitude    Longtitude  Propertycount
count  13580.000000  13580.000000   13580.000000
mean     -37.809203    144.995216    7454.417378
std        0.079260      0.103916    4378.581772
min      -38.182550    144.431810     249.000000
25%      -37.856822    144.929600    4380.000000
50%      -37.802355    145.000100    6555.000000
75%      -37.756400    145.058305   10331.000000
max      -37.408530    145.526350   21650.000000

In [2]:
print("dataset.isna(): \n{}".format(dataset.isna()))

dataset.isna():
       Suburb  Address  Rooms   Type  Price  Method  SellerG   Date  Distance  \
0       False    False  False  False  False   False    False  False     False
1       False    False  False  False  False   False    False  False     False
2       False    False  False  False  False   False    False  False     False
3       False    False  False  False  False   False    False  False     False
4       False    False  False  False  False   False    False  False     False
...       ...      ...    ...    ...    ...     ...      ...    ...       ...
13575   False    False  False  False  False   False    False  False     False
13576   False    False  False  False  False   False    False  False     False
13577   False    False  False  False  False   False    False  False     False
13578   False    False  False  False  False   False    False  False     False
13579   False    False  False  False  False   False    False  False     False

       Postcode  ...  Bathroom    Car  Landsize  BuildingArea  YearBuilt  \
0         False  ...     False  False     False          True       True
1         False  ...     False  False     False         False      False
2         False  ...     False  False     False         False      False
3         False  ...     False  False     False          True       True
4         False  ...     False  False     False         False      False
...         ...  ...       ...    ...       ...           ...        ...
13575     False  ...     False  False     False          True      False
13576     False  ...     False  False     False         False      False
13577     False  ...     False  False     False          True      False
13578     False  ...     False  False     False         False      False
13579     False  ...     False  False     False         False      False

       CouncilArea  Lattitude  Longtitude  Regionname  Propertycount
0            False      False       False       False          False
1            False      False       False       False          False
2            False      False       False       False          False
3            False      False       False       False          False
4            False      False       False       False          False
...            ...        ...         ...         ...            ...
13575         True      False       False       False          False
13576         True      False       False       False          False
13577         True      False       False       False          False
13578         True      False       False       False          False
13579         True      False       False       False          False

[13580 rows x 21 columns]

In [3]:
print("\ndataset.isna().any(): \n{}".format(dataset.isna().any()))

dataset.isna().any():
Suburb           False
Address          False
Rooms            False
Type             False
Price            False
Method           False
SellerG          False
Date             False
Distance         False
Postcode         False
Bedroom2         False
Bathroom         False
Car               True
Landsize         False
BuildingArea      True
YearBuilt         True
CouncilArea       True
Lattitude        False
Longtitude       False
Regionname       False
Propertycount    False
dtype: bool

In [4]:
y = dataset['Price']

dataset_predictor = dataset.drop(['Price'], axis='columns')
X = dataset_predictor.select_dtypes(exclude='object')
X.describe()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [5]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=0)