In [1]:
import numpy as np
import pandas as pd
#pd.set_option('display.height', 3)
#pd.set_option('display.max_rows', 3)
#pd.set_option('display.max_info_rows', 3)

reviews = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)

In [2]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [3]:
reviews.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [4]:
reviews.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [5]:
reviews['points'].describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [6]:
reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

In [7]:
reviews.taster_name.unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [8]:
reviews.taster_name.value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

In [9]:
################################################################################
### Maps-------
###

review_points_mean = reviews.points.mean()
print("review_points_mean:", review_points_mean)

review_points_mean: 88.44713820775404

In [10]:
review_points_map = reviews.points.map(lambda p: p - review_points_mean)
reviews.points.describe()

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [11]:
review_points_map.describe()

count    1.299710e+05
mean     5.405703e-16
std      3.039730e+00
min     -8.447138e+00
25%     -2.447138e+00
50%     -4.471382e-01
75%      2.552862e+00
max      1.155286e+01
Name: points, dtype: float64

In [12]:
print("review_points_mean:", review_points_mean)
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews_clone1 = reviews.copy()
reviews_clone2 = reviews_clone1.apply(remean_points, axis='columns')

review_points_mean: 88.44713820775404

In [13]:
reviews_clone1.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [14]:
reviews.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [15]:
reviews_clone2.describe()

             points          price
count  1.299710e+05  120975.000000
mean   5.405703e-16      35.363389
std    3.039730e+00      41.022218
min   -8.447138e+00       4.000000
25%   -2.447138e+00      17.000000
50%   -4.471382e-01      25.000000
75%    2.552862e+00      42.000000
max    1.155286e+01    3300.000000

In [16]:
reviews['points_to_price'] = reviews.points / reviews.price

reviews.describe()
reviews.head(5)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_to_price
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462

In [17]:
bargain_wine1 = reviews.loc[(reviews.price != 'Nan') & (reviews.points_to_price == reviews.points_to_price.max()), 'title']
bargain_wine = bargain_wine1.iloc[0]
print("bargain_wine1: {}".format(bargain_wine1))
print("bargain_wine: {}".format(bargain_wine))

bargain_wine1: 64590                         Bandit NV Merlot (California)
126096    Cramele Recas 2011 UnWineD Pinot Grigio (Viile...
Name: title, dtype: object
bargain_wine: Bandit NV Merlot (California)

In [18]:
desc_topical = reviews.description.map(lambda desc: "tropical" in desc)
n_topical = desc_topical.sum()

desc_fruity = reviews.description.map(lambda desc: "fruity" in desc)
n_fruity = desc_fruity.sum()

descriptor_couts = pd.Series([n_topical, n_fruity], index=['topical', 'fruity'])

print("desc_topical: {}".format(desc_topical))
print("desc_topical.sum: {}".format(desc_topical.sum()))

print("descriptor_couts: {}".format(descriptor_couts))

desc_topical: 0          True
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: description, Length: 129971, dtype: bool
desc_topical.sum: 3607
descriptor_couts: topical    3607
fruity     9090
dtype: int64

In [19]:
def allocate_star(row):
    row.star_ratings = 1
    if row.points >= 95:
        row.star_ratings = 3
    elif row.points >= 85:
        row.star_ratings = 2
        
    if row.country == 'Canada':
        row.star_ratings = 3
        
    return row;

reviews['star_ratings'] = 1
reviews_11 = reviews.apply(allocate_star, axis=1)
star_ratings = reviews_11['star_ratings']

print("star_ratings: {}".format(star_ratings))  
print("reviews.star_ratings.value_counts(): {}".format(reviews.star_ratings.value_counts()))
print("reviews_11: {}".format(reviews_11))

star_ratings: 0         2
1         2
2         2
3         2
4         2
         ..
129966    2
129967    2
129968    2
129969    2
129970    2
Name: star_ratings, Length: 129971, dtype: int64
reviews.star_ratings.value_counts(): 1    129971
Name: star_ratings, dtype: int64
reviews_11:          country                                        description  \
0          Italy  Aromas include tropical fruit, broom, brimston...
1       Portugal  This is ripe and fruity, a wine that is smooth...
2             US  Tart and snappy, the flavors of lime flesh and...
3             US  Pineapple rind, lemon pith and orange blossom ...
4             US  Much like the regular bottling from 2012, this...
...          ...                                                ...
129966   Germany  Notes of honeysuckle and cantaloupe sweeten th...
129967        US  Citation is given as much as a decade of bottl...
129968    France  Well-drained gravel soil gives this wine its c...
129969    France  A dry style of Pinot Gris, this is crisp with ...
129970    France  Big, rich and off-dry, this is powered by inte...

                                   designation  points  price  \
0                                 Vulkà Bianco      87    NaN
1                                     Avidagos      87   15.0
2                                          NaN      87   14.0
3                         Reserve Late Harvest      87   13.0
4           Vintner's Reserve Wild Child Block      87   65.0
...                                        ...     ...    ...
129966  Brauneberger Juffer-Sonnenuhr Spätlese      90   28.0
129967                                     NaN      90   75.0
129968                                   Kritt      90   30.0
129969                                     NaN      90   32.0
129970           Lieu-dit Harth Cuvée Caroline      90   21.0

                 province             region_1           region_2  \
0       Sicily & Sardinia                 Etna                NaN
1                   Douro                  NaN                NaN
2                  Oregon    Willamette Valley  Willamette Valley
3                Michigan  Lake Michigan Shore                NaN
4                  Oregon    Willamette Valley  Willamette Valley
...                   ...                  ...                ...
129966              Mosel                  NaN                NaN
129967             Oregon               Oregon       Oregon Other
129968             Alsace               Alsace                NaN
129969             Alsace               Alsace                NaN
129970             Alsace               Alsace                NaN

               taster_name taster_twitter_handle  \
0            Kerin O’Keefe          @kerinokeefe
1               Roger Voss            @vossroger
2             Paul Gregutt           @paulgwine
3       Alexander Peartree                   NaN
4             Paul Gregutt           @paulgwine
...                    ...                   ...
129966  Anna Lee C. Iijima                   NaN
129967        Paul Gregutt           @paulgwine
129968          Roger Voss            @vossroger
129969          Roger Voss            @vossroger
129970          Roger Voss            @vossroger

                                                    title         variety  \
0                       Nicosia 2013 Vulkà Bianco  (Etna)     White Blend
1           Quinta dos Avidagos 2011 Avidagos Red (Douro)  Portuguese Red
2           Rainstorm 2013 Pinot Gris (Willamette Valley)      Pinot Gris
3       St. Julian 2013 Reserve Late Harvest Riesling ...        Riesling
4       Sweet Cheeks 2012 Vintner's Reserve Wild Child...      Pinot Noir
...                                                   ...             ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...        Riesling
129967                  Citation 2004 Pinot Noir (Oregon)      Pinot Noir
129968  Domaine Gresser 2013 Kritt Gewurztraminer (Als...  Gewürztraminer
129969      Domaine Marcel Deiss 2012 Pinot Gris (Alsace)      Pinot Gris
129970  Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...  Gewürztraminer

                                          winery  points_to_price  \
0                                        Nicosia              NaN
1                            Quinta dos Avidagos         5.800000
2                                      Rainstorm         6.214286
3                                     St. Julian         6.692308
4                                   Sweet Cheeks         1.338462
...                                          ...              ...
129966  Dr. H. Thanisch (Erben Müller-Burggraef)         3.214286
129967                                  Citation         1.200000
129968                           Domaine Gresser         3.000000
129969                      Domaine Marcel Deiss         2.812500
129970                          Domaine Schoffit         4.285714

        star_ratings
0                  2
1                  2
2                  2
3                  2
4                  2
...              ...
129966             2
129967             2
129968             2
129969             2
129970             2

[129971 rows x 15 columns]

In [20]:
print("reviews.winery.value_count(): {}".format(reviews.winery.value_counts()))

reviews.winery.value_count(): Wines & Winemakers    222
Testarossa            218
DFJ Vinhos            215
Williams Selyem       211
Louis Latour          199
                     ...
Hypothesis              1
Camps d'Estels          1
Harbor Town             1
Château de Saurs        1
Penedo Borges           1
Name: winery, Length: 16757, dtype: int64

In [21]:
print("Winery: {}".format(reviews.groupby('points').points.count()))

Winery: points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

In [22]:
print("1: {}".format(reviews.groupby('taster_twitter_handle').describe()))

1:                         points                                               \
                         count       mean       std   min   25%   50%   75%
taster_twitter_handle
@AnneInVino             3685.0  90.562551  2.373100  80.0  89.0  90.0  92.0
@JoeCz                  5147.0  88.536235  2.858701  80.0  87.0  89.0  91.0
@bkfiona                  27.0  86.888889  1.739437  82.0  86.0  87.0  88.0
@gordone_cellars        4177.0  88.626287  2.698341  80.0  87.0  89.0  91.0
@kerinokeefe           10776.0  88.867947  2.474240  80.0  87.0  89.0  90.0
@laurbuzz               1835.0  87.739510  2.530672  81.0  86.0  88.0  90.0
@mattkettmann           6332.0  90.008686  2.571257  81.0  88.0  90.0  92.0
@paulgwine              9532.0  89.082564  2.814445  80.0  87.0  89.0  91.0
@suskostrzewa           1085.0  86.609217  2.376140  80.0  85.0  87.0  88.0
@vboone                 9537.0  89.213379  2.996796  80.0  87.0  90.0  91.0
@vossroger             25514.0  88.708003  3.036373  80.0  86.0  88.0  91.0
@wawinereport           4966.0  88.755739  2.458547  80.0  87.0  89.0  91.0
@wineschach            15134.0  86.907493  3.022859  80.0  85.0  87.0  89.0
@winewchristina            6.0  87.833333  3.600926  82.0  87.0  88.0  89.0
@worldwineguys          1005.0  88.719403  2.044055  82.0  88.0  89.0  90.0

                                price             ... points_to_price  \
                         max    count       mean  ...             75%
taster_twitter_handle                             ...
@AnneInVino             97.0   3398.0  31.230135  ...        4.684211
@JoeCz                 100.0   5012.0  35.175579  ...        5.562500
@bkfiona                91.0     27.0  31.148148  ...        3.810000
@gordone_cellars        97.0   4171.0  26.935507  ...        5.800000
@kerinokeefe           100.0   9874.0  41.953413  ...        4.450000
@laurbuzz               95.0   1713.0  24.492703  ...        6.692308
@mattkettmann           97.0   6237.0  38.642136  ...        3.560000
@paulgwine             100.0   9498.0  33.644873  ...        4.400000
@suskostrzewa           94.0   1073.0  22.908667  ...        6.142857
@vboone                 99.0   9507.0  46.621963  ...        3.461538
@vossroger             100.0  20172.0  38.649960  ...        5.733333
@wawinereport           97.0   4925.0  34.085888  ...        4.400000
@wineschach             98.0  14951.0  25.231155  ...        6.916667
@winewchristina         93.0      6.0  29.333333  ...        3.851786
@worldwineguys          97.0    995.0  25.238191  ...        6.000000

                                 star_ratings                                \
                             max        count mean  std  min  25%  50%  75%
taster_twitter_handle
@AnneInVino             9.100000       3685.0  1.0  0.0  1.0  1.0  1.0  1.0
@JoeCz                 17.000000       5147.0  1.0  0.0  1.0  1.0  1.0  1.0
@bkfiona                5.176471         27.0  1.0  0.0  1.0  1.0  1.0  1.0
@gordone_cellars       21.250000       4177.0  1.0  0.0  1.0  1.0  1.0  1.0
@kerinokeefe           14.166667      10776.0  1.0  0.0  1.0  1.0  1.0  1.0
@laurbuzz              16.600000       1835.0  1.0  0.0  1.0  1.0  1.0  1.0
@mattkettmann          11.857143       6332.0  1.0  0.0  1.0  1.0  1.0  1.0
@paulgwine             16.800000       9532.0  1.0  0.0  1.0  1.0  1.0  1.0
@suskostrzewa          12.000000       1085.0  1.0  0.0  1.0  1.0  1.0  1.0
@vboone                12.142857       9537.0  1.0  0.0  1.0  1.0  1.0  1.0
@vossroger             17.000000      25514.0  1.0  0.0  1.0  1.0  1.0  1.0
@wawinereport          14.333333       4966.0  1.0  0.0  1.0  1.0  1.0  1.0
@wineschach            21.250000      15134.0  1.0  0.0  1.0  1.0  1.0  1.0
@winewchristina         4.578947          6.0  1.0  0.0  1.0  1.0  1.0  1.0
@worldwineguys         14.000000       1005.0  1.0  0.0  1.0  1.0  1.0  1.0


                       max
taster_twitter_handle
@AnneInVino            1.0
@JoeCz                 1.0
@bkfiona               1.0
@gordone_cellars       1.0
@kerinokeefe           1.0
@laurbuzz              1.0
@mattkettmann          1.0
@paulgwine             1.0
@suskostrzewa          1.0
@vboone                1.0
@vossroger             1.0
@wawinereport          1.0
@wineschach            1.0
@winewchristina        1.0
@worldwineguys         1.0

[15 rows x 32 columns]

In [23]:
print("2: {}".format(reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()))

2: taster_twitter_handle
@AnneInVino          3685
@JoeCz               5147
@bkfiona               27
@gordone_cellars     4177
@kerinokeefe        10776
@laurbuzz            1835
@mattkettmann        6332
@paulgwine           9532
@suskostrzewa        1085
@vboone              9537
@vossroger          25514
@wawinereport        4966
@wineschach         15134
@winewchristina         6
@worldwineguys       1005
Name: taster_twitter_handle, dtype: int64

In [24]:
print("2: {}".format(reviews['taster_twitter_handle'].value_counts()))

data_1 = reviews['taster_twitter_handle'].value_counts()
type(data_1)

2: @vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64

pandas.core.series.Series

In [25]:
print("1: {}".format( reviews.groupby('price').points.max().sort_index() ))

1: price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [26]:
print("1: {}".format( reviews.groupby('variety').price.agg([min, max]) ))

1:               min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

In [27]:
print("1: {}".format( reviews.groupby('variety').price.min().sort_values(ascending=False) ))

print("\n2: {}".format( reviews.groupby('variety').price.max().sort_values(ascending=False) ))

1: variety
Ramisco                           495.0
Terrantez                         236.0
Francisa                          160.0
Rosenmuskateller                  150.0
Tinta Negra Mole                  112.0
                                  ...
Roscetto                            NaN
Sauvignon Blanc-Sauvignon Gris      NaN
Tempranillo-Malbec                  NaN
Vital                               NaN
Zelen                               NaN
Name: price, Length: 707, dtype: float64

2: variety
Bordeaux-style Red Blend          3300.0
Pinot Noir                        2500.0
Chardonnay                        2013.0
Grüner Veltliner                  1100.0
Bordeaux-style White Blend        1000.0
                                   ...
Roscetto                             NaN
Sauvignon Blanc-Sauvignon Gris       NaN
Tempranillo-Malbec                   NaN
Vital                                NaN
Zelen                                NaN
Name: price, Length: 707, dtype: float64

In [28]:
print("3: {}".format( reviews.groupby('variety').price.agg([min, max]).sort_values(by='min', ascending=False).sort_values(by='max', ascending=False)) )

3:                                  min     max
variety
Bordeaux-style Red Blend         7.0  3300.0
Pinot Noir                       5.0  2500.0
Chardonnay                       4.0  2013.0
Grüner Veltliner                 9.0  1100.0
Port                            12.0  1000.0
...                              ...     ...
Roscetto                         NaN     NaN
Sauvignon Blanc-Sauvignon Gris   NaN     NaN
Tempranillo-Malbec               NaN     NaN
Vital                            NaN     NaN
Zelen                            NaN     NaN

[707 rows x 2 columns]

In [29]:
print("3: {}".format( reviews.groupby('variety').price.agg([min, max]).sort_values(by='max', ascending=False).sort_values(by='min', ascending=False)) )

3:                                   min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [30]:
print("3: {}".format( reviews.groupby('variety').price.agg([min, max]).sort_values(by=['min','max'], ascending=False)) )

3:                                   min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

In [31]:
print("1: {}".format(reviews.groupby('taster_name').points.agg(['mean', min, max])))

1:                          mean  min  max
taster_name
Alexander Peartree  85.855422   80   91
Anna Lee C. Iijima  88.415629   80   98
Anne Krebiehl MW    90.562551   80   97
Carrie Dykes        86.395683   81   92
Christina Pickard   87.833333   82   93
Fiona Adams         86.888889   82   91
Jeff Jenssen        88.319756   82   97
Jim Gordon          88.626287   80   97
Joe Czerwinski      88.536235   80  100
Kerin O’Keefe       88.867947   80  100
Lauren Buzzeo       87.739510   81   95
Matt Kettmann       90.008686   81   97
Michael Schachner   86.907493   80   98
Mike DeSimone       89.101167   82   94
Paul Gregutt        89.082564   80  100
Roger Voss          88.708003   80  100
Sean P. Sullivan    88.755739   80   97
Susan Kostrzewa     86.609217   80   94
Virginie Boone      89.213379   80   99

In [32]:
print("1: {}".format(reviews.groupby(['country', 'variety']).size()))

1: country    variety
Argentina  Barbera                         1
           Bonarda                       105
           Bordeaux-style Red Blend       89
           Bordeaux-style White Blend      1
           Cabernet Blend                  8
                                        ...
Uruguay    Tannat-Cabernet Franc           2
           Tannat-Merlot                   6
           Tannat-Syrah                    1
           Tempranillo-Tannat              1
           White Blend                     1
Length: 1612, dtype: int64

In [33]:
df1 = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
type(df1)
print("1: {}".format(df1))
#series = pd.Series(df1.iloc[:, 2], index={df1.iloc[:, 0]})
#print("Series: {}".format(series))

1: country  variety
US       Pinot Noir                  9885
         Cabernet Sauvignon          7315
         Chardonnay                  6801
France   Bordeaux-style Red Blend    4725
Italy    Red Blend                   3624
                                     ...
Mexico   Cinsault                       1
         Grenache                       1
         Merlot                         1
         Rosado                         1
Uruguay  White Blend                    1
Length: 1612, dtype: int64

In [34]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
...                               'Parrot', 'Parrot'],
...                    'Max Speed': [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [37]:
print("df.groupby(['Animal']: {}".format(df.groupby(['Animal'])))

df.groupby(['Animal']: <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f559f8ad1e0>

In [38]:
df = pd.DataFrame([[1, 2, 3],
...                    [4, 5, 6],
...                    [7, 8, 9],
...                    [np.nan, np.nan, np.nan]],
...                   columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [39]:
df.agg("mean", axis="columns")

0    2.0
1    5.0
2    8.0
3    NaN
dtype: float64

In [41]:
reviews.groupby(['country', 'province']).description.agg([len]).reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [42]:
df = pd.DataFrame({
    'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    'col2': [2, 1, 9, 8, 7, 4],
    'col3': [0, 1, 9, 4, 2, 3],
    'col4': ['a', 'B', 'c', 'D', 'e', 'F']
})
df

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [44]:
df.sort_values(by=['col1', 'col2'], ascending=False)

  col1  col2  col3 col4
4    D     7     2    e
5    C     4     3    F
2    B     9     9    c
0    A     2     0    a
1    A     1     1    B
3  NaN     8     4    D

In [45]:
df.sort_index()

  col1  col2  col3 col4
0    A     2     0    a
1    A     1     1    B
2    B     9     9    c
3  NaN     8     4    D
4    D     7     2    e
5    C     4     3    F

In [52]:
#reviews.groupby(['country', 'variety']).count().sort_values(ascending=False)
reviews.groupby(['country', 'variety']).size()

country    variety
Argentina  Barbera                         1
           Bonarda                       105
           Bordeaux-style Red Blend       89
           Bordeaux-style White Blend      1
           Cabernet Blend                  8
                                        ...
Uruguay    Tannat-Cabernet Franc           2
           Tannat-Merlot                   6
           Tannat-Syrah                    1
           Tempranillo-Tannat              1
           White Blend                     1
Length: 1612, dtype: int64

In [53]:
pd.Series(reviews.points, dtype=str)

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

In [54]:
reviews.points.astype(str)

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: object

In [55]:
reviews[pd.isnull(reviews.price)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_to_price,star_ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,1
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte,NaN,1
30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone,NaN,1
31,Italy,Merlot and Nero d'Avola form the base for this...,Calanìca Nero d'Avola-Merlot,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2010 Calanìca Nero d'Avola-...,Red Blend,Duca di Salaparuta,NaN,1
32,Italy,"Part of the extended Calanìca series, this Gri...",Calanìca Grillo-Viognier,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2011 Calanìca Grillo-Viogni...,White Blend,Duca di Salaparuta,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129844,Italy,"Doga delle Clavule is a neutral, mineral-drive...",Doga delle Clavule,86,NaN,Tuscany,Morellino di Scansano,NaN,NaN,NaN,Caparzo 2006 Doga delle Clavule (Morellino di...,Sangiovese,Caparzo,NaN,1
129860,Portugal,This rich wine has a firm structure as well as...,Pacheca Superior,90,NaN,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta da Pacheca 2013 Pacheca Superior Red (D...,Portuguese Red,Quinta da Pacheca,NaN,1
129863,Portugal,This mature wine that has 50% Touriga Nacional...,Reserva,90,NaN,Dão,NaN,NaN,Roger Voss,@vossroger,Seacampo 2011 Reserva Red (Dão),Portuguese Red,Seacampo,NaN,1
129893,Italy,"Aromas of passion fruit, hay and a vegetal not...",Corte Menini,91,NaN,Veneto,Soave Classico,NaN,Kerin O’Keefe,@kerinokeefe,Le Mandolare 2015 Corte Menini (Soave Classico),Garganega,Le Mandolare,NaN,1
129964,France,"Initially quite muted, this wine slowly develo...",Domaine Saint-Rémy Herrenweg,90,NaN,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Ehrhart 2013 Domaine Saint-Rémy Herren...,Gewürztraminer,Domaine Ehrhart,NaN,1

In [61]:
reviews[pd.isnull(reviews.price)].points.count()

8996

In [67]:
pd.isnull(reviews.price).sum()

8996

In [75]:
reviews1 = reviews.copy()
reviews1= reviews1.region_1.fillna('Unknown')
type(reviews1)
reviews1.value_counts(ascending=False)

Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: region_1, Length: 1230, dtype: int64

In [77]:
reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)

Unknown                 21247
Napa Valley              4480
Columbia Valley (WA)     4124
Russian River Valley     3091
California               2629
                        ...
Offida Rosso                1
Corton Perrières            1
Isle St. George             1
Geelong                     1
Paestum                     1
Name: region_1, Length: 1230, dtype: int64

In [88]:
df = pd.DataFrame([['ant', 'bee', 'cat'], ['dog', None, 'fly']], columns=['c1', 'c2', 'c3'])
df

    c1    c2   c3
0  ant   bee  cat
1  dog  None  fly

In [89]:
pd.isnull(df.c2)

0    False
1     True
Name: c2, dtype: bool

In [84]:
df[pd.isnull(df.c2)]

     0     1    2
1  dog  None  fly

In [90]:
reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_to_price,star_ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,1
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,1
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,1
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,1
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462,1

In [93]:
reviews.rename(columns={"region_1": "region", "region_2": "locale"})

,country,description,designation,points,price,province,region,locale,taster_name,taster_twitter_handle,title,variety,winery,points_to_price,star_ratings
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,NaN,1
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,5.800000,1
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,6.214286,1
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,6.692308,1
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,1.338462,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),3.214286,1
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,1.200000,1
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,3.000000,1
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,2.812500,1
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,4.285714,1

In [94]:
df = pd.DataFrame({"num_legs": [4, 4, 2],
                   "num_arms": [0, 0, 2]},
                  ["dog", "cat", "monkey"])
df

        num_legs  num_arms
dog            4         0
cat            4         0
monkey         2         2

In [96]:
df.rename_axis("animal", axis=0)

        num_legs  num_arms
animal
dog            4         0
cat            4         0
monkey         2         2

In [97]:
df.rename_axis("limbs", axis=1)

limbs   num_legs  num_arms
dog            4         0
cat            4         0
monkey         2         2

In [98]:
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
...                   columns=['animal', 'name'])
df4

   animal    name
0    bird   polly
1  monkey  george